html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: #313331;

    display: flex;
    justify-content: center;
}

.list {
    min-width: 750px;
    max-width: 1050px;
    list-style-type: none;
    padding: 0;

    margin: 1rem;

    --item-margin: 0.5rem;
}

.list__item {
    width: 100%;
    height: 300px;
    background-color: #5f5e5e;
    border-radius: 2px;
    box-shadow: #201720 1px 1px 2px 1px;

    margin-top: var(--item-margin);
    /*padding: 1px;*/

    display: flex;
}
.list__item:last-child {
    margin-bottom: var(--item-margin);
}
.list__item:hover {
    box-shadow: #201720 2px 2px 3px 2px;
}

.list__item__img {
    flex-basis: 1fr;

    width: 40%;
    height: 100%;
    object-fit: cover;
}

.list__item__title {
    width: 60%;

    flex-basis: 1fr;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
    letter-spacing: 0.3rem;

    text-shadow: -1px -1px 2px #3f3f3f,
                 -1px  1px 2px #3f3f3f,
                  1px -1px 2px #3f3f3f,
                  1px  1px 2px #3f3f3f;

    color: floralwhite;
    opacity: 1;

    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
}