html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: #313331;

    display: flex;
    justify-content: center;
}

.list {
    min-width: 350px;
    width: 100%;
    max-width: 1050px;
    list-style-type: none;
    padding: 0;

    --item-margin: 0.5rem;
    margin: 0 var(--item-margin);
}

.list__item {
    width: 100%;
    height: 300px;
    background-color: #5f5e5e;
    border-radius: 2px;
    box-shadow: #201720 1px 1px 2px 1px;

    margin-top: var(--item-margin);

    overflow: hidden;

    position: relative;
}
.list__item:last-child {
    margin-bottom: var(--item-margin);
}
.list__item:hover {
    box-shadow: #201720 2px 2px 3px 2px;
}
.list__item:hover > .list__item__img {
    width: 100%;
}
.list__item:hover > .list__item__title {
    font-size: 4rem;
    width: 100%;

    left: 0;
}

.list__item__img {
    position: absolute;
    top: 0;
    left: 0;

    width: 40%;
    height: 100%;

    object-fit: cover;

    transition: width 0.1s ease-out;
}

.list__item__title {
    position: absolute;
    top: 0;
    left: 40%;

    width: 60%;
    height: 100%;

    padding: 1rem;

    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
    letter-spacing: 0.3rem;
    color: floralwhite;

    text-shadow: -1px -1px 2px #3f3f3f,
                 -1px  1px 2px #3f3f3f,
                  1px -1px 2px #3f3f3f,
                  1px  1px 2px #3f3f3f;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    user-select: none;
}

@media screen and (orientation: portrait), screen and (max-width: 500px) {
    .list__item__img {
        width: 100%;
    }
    .list__item__title {
        font-size: 4rem;
        width: 100%;

        left: 0;
    }
}